.btn-tertiary{
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0px 50px;
    width: max-content;
    font-family: "Raleway", Sans-serif;
    border-color: black;
    text-align: center;
    outline: none;
}

.btn-tertiary:hover{
    background-color: white;
    color: black;
    text-decoration: underline;

}

.small-img-group{
    display:flex;
    justify-content: space-between;
    
}

.small-img-col{
    flex-basis: 23%;
    cursor: pointer;
}

#productlocationizer {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 5px;
}

h3 {
    font-size: 1.875rem;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.products * {
    flex-shrink: 0;
    flex-grow: 0;
}

ul {
    display: list-item;
    list-style-position: inside;
    margin-bottom: 0px;
}

.card-text > ul {
    display: list-item;
    list-style-position:inside;
    padding-left: 5px;
    font-weight: 300;
    font-size: 1rem;
}

.card-text > ul > ul {
    display: list-item;
    list-style-position: inside;
    padding-left:10px;
}

ul::marker {
    font-size: 1.2rem;
    margin-right: 10px;
    padding-left: 10px;
}



.card-title {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
    text-align: center;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.ordered-list {
    font-weight: 300;
    font-size: 1rem;
}

.product-disclaimer {
    font-weight: 300;
    font-size: 0.8rem;
}

#includes > div >div > ul {
    font-weight: 300;
    font-size: 1rem;
    padding: 5px 0px;
}


.installationyoutube {
    width:calc(100vw/2.25); 
    height: calc(100vw/2.25*(9/16)); 
    border-radius: 25px;
}

#installation-div-pc{
    display:block
}

#installation-div-mobile{
    display:none
}

#product-div-pc {
    display:block
}

#product-div-mobile {
    display:none
}


@media (max-width: 991px) {
    #main-content {
        width: 90vw;
    }

    #localizer {
        align-self: center;
        max-width: 400px;
        display: inline;
    }

    .buy-btn {
        display: inline;
    }

    .buyButtonDiv{
        text-align: center;
    }

    .installationyoutube {
        width:calc(100vw*0.75); 
        height: calc(100vw*0.75*9/16); 
        border-radius: 25px;
    }

    #installation-div-pc{
        display:none
    }

    #installation-div-mobile{
        display:block
    }
    
    #product-div-pc {
        display:none
    }
    
    #product-div-mobile {
        display:block
    }
}
