.table{
    table-layout: fixed;
    width: 1050px;
    border: 1px solid black;
    vertical-align: middle;

}


.div-table{
    justify-content: center;
    display: flex;
    overflow:hidden;
}

td {
    font-weight: 300;
    border: 0.5px solid black;
    padding:0px
}

th {
    border: 0.5px solid black;
    vertical-align: middle;
    font-weight: 800;
}

#header-table-1 :nth-child(1){
    width: 100px;
}
#header-table-1 :nth-child(2){
    width: 100px;
}
#header-table-1 :nth-child(3){
    width: 100px;
}

#header-table-1 :nth-child(4){
    width: 100px;
}

#header-table-1 :nth-child(5){
    width: 175px;
}

#header-table-1 :nth-child(6){
    width: 175px;
}

#header-table-2 :nth-child(1){
    width: 150px;
}
#header-table-2 :nth-child(2){
    width: 150px;
}
#header-table-2 :nth-child(3){
    width: 150px;
}

#header-table-2 :nth-child(4){
    width: 150px;
}

#header-table-2 :nth-child(5){
    width: 150px;
}

@media (max-width: 991px) {
    .div-table{
        display: block;
    }
}

@media (max-width: 1100px) {
    .div-table{
        display: block;
        overflow:scroll;
    }
}
