---
layout: default
title: Products | kommu.ai
---
<div id="productlocationizer">
    <h2>Productlocationizer</h2>
    <h3>Find the right model for your car:</h3><br>
    <div class="row align-items-center">
        <div class="col">
            <select aria-label="Select your car model" class="form-select" id="localizer">
            </select>
        </div>
        <div class="col">
            <button class="btn btn-light" id="localizerer">Jom</button>
        </div>
    </div>
</div>

<div>
    <h3 class="m-4">All Products</h3>
    <div class="products">
        {% for product in site.products %}
        <div class="card m-1" style="width: 18rem;">
            <img src="{{ "" | relative_url }}/img/{{ product.img }}" class="card-img-top" alt="Image of {{ product.title }}" style="height: 11rem;">
            <div class="card-body" style="height: 13rem">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ product.url | relative_url }}" class="btn btn-primary" style="display: block; position: absolute; bottom: 20px; right: 20px;">Lihat</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
(() => {
        const product_cars = [
                {% for product in site.products %}
                {% for car in product.cars %}
                {
                    label:"{{ car }}",
                    product_url: "{{ product.url | relative_url }}",
                },
                {% endfor %}
                {% endfor %}
            ].sort((a, b) => { return b.label < a.label });

        const localizer = document.getElementById("localizer");
        const localizerer = document.getElementById("localizerer");
        for (const product_car of product_cars) {
            const option = document.createElement("option");
            option.value = product_car.product_url;
            option.innerText = product_car.label;
            localizer.appendChild(option);
        }
        localizerer.onclick = () => {
                if (localizer.value == "DIVIDER") {
                    return;
                    }
                const params = new URLSearchParams();
                params.append("car", localizer.selectedOptions[0].innerText);
                window.location.href = `${localizer.value}?${params.toString()}`;
            };
    })();
</script>
<style>
#productlocationizer {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 5px;
}
#productlocationizer, #productlocationizer *{
    background-color: #0000a4;
    color: white;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products * {
    flex-shrink: 0;
    flex-grow: 0;
}
</style>
