---
layout: default
title: Products | kommu.ai
---
<div id="productlocationizer">
    <h2>Productlocationizer</h2>
    <h3>Find the right model for your car:</h3><br>
    <div class="row align-items-center">
        <div class="col">
            <select aria-label="Select your car model" class="form-select" id="localizer">
                {% for product in site.products %}
                    <option value="DIVIDER">----------</option>
                    {% for car in product.cars %}
                    <option value="{{ product.url }}">{{ car }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <button class="btn btn-light" id="localizerer">Jom</button>
        </div>
    </div>
</div>

<div>
    <h3 class="m-4">All Products</h3>
    <div class="products">
        {% for product in site.products %}
        <div class="card m-1" style="width: 18rem;">
            <img src="/img/{{ product.img }}" class="card-img-top" alt="Image of {{ product.title }}" style="height: 11rem;">
            <div class="card-body" style="height: 13rem">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ product.url }}" class="btn btn-primary" style="display: block; position: absolute; bottom: 20px; right: 20px;">Lihat</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
(function() {
        const localizer = $("#localizer")[0];
        $("#localizerer").on("click", function() {
                if (localizer.value == "DIVIDER") {
                    return;
                    }
                window.location.href = localizer.value;
            });
    })();
</script>
<style>
#productlocationizer {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 5px;
}
#productlocationizer, #productlocationizer *{
    background-color: #0000a4;
    color: white;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products * {
    flex-shrink: 0;
    flex-grow: 0;
}
</style>
