---
layout: default
title: Supported Vehicle
---
<head>
    <link href="{{ "/css/support-page.css" | relative_url }}" rel="stylesheet">
</head>
<section class="section-support">
    <div>
        <h2 style="text-align: center; text-decoration: underline;">
            Standard
        </h2>
    </div>
    <div class="div-table">
        <table class="table" style="text-align: center; ">
            <thead style="text-decoration: underline; ">
                <tr id="header-table-1">
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                    <th scope="col">Variant</th>
                    <th scope="col" colspan="2">ACC</th>
                    <th scope="col">LKC</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in site.data.supported_vehicles.standard %}
                <tr >
                    <th scope="row">{{vehicle.brand}}</th>
                    <td>{{vehicle.model}}</td>
                    <td>{{vehicle.year}}</td>
                    <td>{{vehicle.variant}}</td>
                    <td>{% if vehicle.acc_low_speed == true %} ✔ {% else %} ✘ {% endif %}</td>
                    <td>{% if vehicle.acc_stop_and_go == true %} ✔ {% else %} ✘ {% endif %}</td>
                    <td>{{vehicle.lkc_torque}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2 style="text-align: center; text-decoration: underline;">
            Semi-ACC
        </h2>
    </div>
    <div class="div-table">
        <table class="table" style="text-align: center;">
            <thead style="text-decoration: underline; ">
                <tr id="header-table-2">
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                    <th scope="col">Variant</th>
                    <th scope="col">LKC</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in site.data.supported_vehicles.semi_acc %}
                <tr>
                    <th scope="row">{{vehicle.brand}}</th>
                    <td>{{vehicle.model}}</td>
                    <td>{{vehicle.year}}</td>
                    <td>{{vehicle.variant}}</td>
                    <td>{{vehicle.lkc_torque}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>