<!-- Footer -->
<footer  class="footer mt-auto text-center bg-black">
    <div class="container">
        <div class="row d-flex" >
            <div class="main-btm-img col-12 d-flex justify-content-center" style = "margin-bottom: 25px;">
                <a href = "https://www.facebook.com/kommu.official/" target="_blank"> <i class="fab fa-facebook fa-2xl"></i></a>
                <a href = "https://wa.me/60149676780" target="_blank"><i class="fab fa-whatsapp fa-2xl"></i></a>
                <a href = "https://www.instagram.com/kommu.ai/" target="_blank"><i class="fab fa-instagram fa-2xl"></i></a>
                <a href = "https://www.youtube.com/channel/UCErrOBbNJ0DDo4yg8_6DufA" target="_blank"> <i class="fab fa-youtube fa-2xl"></i></a>
                <a href = "https://www.tiktok.com/@kommu.ai" target="_blank"><i class="fab fa-tiktok fa-2xl"></i></a>
                <a href = "https://github.com/kommu/bukapilot" target="_blank"><i class="fab fa-github fa-2xl"></i></a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

                <p id="footer" class="copyright text-white">{{ site.copyright }}</p>

        </div>
    </div>
</footer>
<style>
    #footer { font-family: "Raleway",sans-serif !important; font-weight: 700; font-size: 16px; text-align: center;}
</style>