<!-- Footer -->
<footer  class="footer mt-auto text-center bg-black">
    <link href="{{ "/css/footer.css" | relative_url }}" rel="stylesheet">
    <div class="container ">
        <div class="row d-flex justify-content-center" style="color: white;">
            <div class="main-btm-description col-md mt-4">
                    <h2 class = "non-bold" >Contact us at </h2>
                    <a class= "footer-inline-link" href = "mailto:support@kommu.ai">support@kommu.ai</a>
                <div class = "footer-buttons mt-3">
                    <a href = "{{ "/faq" | relative_url }}">FAQ</a>
                </div>
                <div class = "footer-buttons mt-3">
                    <a href = "{{ "/terms" | relative_url }}">Terms & Conditions</a>
                </div>
                <div class = "footer-buttons mt-3">
                    <a href = "{{ "/privacy" | relative_url }}">Privacy Policy</a>
                </div>
                
            </div>
            <div class="main-btm-description col-md mt-4">
                <h2>About Kommu</h2>  
                <br><br>
                <p>With the <span style="font-weight:800">community</span> approach, we solve the way we <span style="font-weight:800">commute</span> with vehicular <span style="font-weight:800">communication</span>.</p>
            </div>
        </div>
        <div class="row d-flex" >
            <div class="main-btm-img col-12 d-flex justify-content-center" style = "margin-bottom: 25px;">
                <a href = "https://www.facebook.com/kommu.official/" target="_blank"> <i class="fab fa-facebook fa-2xl"></i></a>
                <a href = "https://wa.me/60149676780" target="_blank"><i class="fab fa-whatsapp fa-2xl"></i></a>
                <a href = "https://www.instagram.com/kommu.ai/" target="_blank"><i class="fab fa-instagram fa-2xl"></i></a>
                <a href = "https://www.youtube.com/channel/UCErrOBbNJ0DDo4yg8_6DufA" target="_blank"> <i class="fab fa-youtube fa-2xl"></i></a>
                <a href = "https://www.tiktok.com/@kommu.ai" target="_blank"><i class="fab fa-tiktok fa-2xl"></i></a>
                <a href = "https://github.com/kommu/bukapilot" target="_blank"><i class="fab fa-github fa-2xl"></i></a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

                <p id="footer" class="copyright text-white">{{ site.copyright }}</p>

        </div>
    </div>
</footer>
<style>
    #footer { font-family: "Raleway",sans-serif !important; font-weight: 300; font-size: 1rem; text-align: center;}
</style>