<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ "/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <!-- Custom CSS TODO: split by page sometime later?-->
    
    <!-- <link href="{{ "" | relative_url }}/css/{{ page.stylesheet}}-page.css" rel="stylesheet"> -->
    <link href="{{ "/css/landing-page.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/css/products-page.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/img/favicon.png" | relative_url }} "  type="image/png" rel="shortcut icon">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,300italic,400italic,700italic">

    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '586857186218202');
fbq('track', 'PageView');
</script>
    
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=586857186218202&ev=PageView&noscript=1"
/></noscript>
    <!-- End Meta Pixel Code -->
    
    <!-- Retrieve Client IP Address -->  
<script>
    fetch('https://www.cloudflare.com/cdn-cgi/trace')
.then(res => res.text() ).then(t => {
    var data = t.replace(/[\r\n]+/g, '","').replace(/\=+/g, '":"');
        data = '{"' + data.slice(0, data.lastIndexOf('","')) + '"}';
    var jsondata = JSON.parse(data);
    console.log(jsondata.loc);
    console.log(jsondata.ip);
})
</script>
    
</head>
