<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
                        <hr>
                        <div class="justify-content-center">
							{% for social in site.social %}
                            <a href="{{ social.url }}">
                                <button class="btn btn-light ms-3">
                                    <i class="fa fa-{{ social.title }} fa-fw"></i>
                                    <span class="network-name">{{ social.title }}</span>
                                </button>
                            </a>
							{% endfor %}
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
