<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ "/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <!-- Custom CSS TODO: split by page sometime later?-->
    
    <!-- <link href="{{ "" | relative_url }}/css/{{ page.stylesheet}}-page.css" rel="stylesheet"> -->
    <link href="{{ "/css/landing-page.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/css/products-page.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/img/favicon.png" | relative_url }} "  type="image/png" rel="shortcut icon">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
