---
layout: default
stylesheet: products
---
<!-- <div>
    <a class="btn ms-auto" href= "{{ "" | relative_url }}/products/" style="font-weight: bold;font-size:20px">
        <  Back
    </a>
</div> -->
<div class="row">
    <link href="{{ "/css/products-page.css" | relative_url }}" rel="stylesheet">
    <div class="col-lg-6 col-md-12 col-12 mb-4">
        <div id="product-div-mobile" style="margin-top:20px">
            <h1>{{ page.product_name }}</h1>
            <br>
            <h4 style="font-weight:300">{{ page.price }}</h4>
    
            <div>
                <h4>Select your car model:</h4>
                <div class="row">
                    <div class="col-xl-6 col-lg-12" style="max-width:350px;">
                        <select aria-label="Select your car model" class="form-select mb-4 mt-2 car-select">
                        </select>
                    </div>
                    <div class="col-xl-6 col-lg-12 buyButtonDiv" style="text-align: left;">
                        <button class="btn btn-tertiary buy-btn" style="margin-bottom: 30px;">Buy</button>
                    </div>
                </div>
            </div>
        </div>

        <img src="{{ "" | relative_url }}/img/products/{{page.key}}/1.png" class = "img-fluid w-100" id= "MainImage"  style="margin-bottom: 10px;">
        <div class="small-img-group" style="margin-bottom: 10px;">
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/1.png" width="100%" class="small-img" style="border-style: solid; border-color: #33B9FF; border-width: 5px;" >
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/2.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/3.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/4.png" width="100%" class="small-img">
            </div>
        </div>
        <div class="small-img-group" >
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/5.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/6.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/7.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/8.png" width="100%" class="small-img">
            </div>
        </div>
        <br>
        <div id="installation-div-pc">
            <h4>
                Installation:
            </h4>
            <h4 style="font-size:1rem; font-weight:300">
                Perform 15 minutes self-installation following our video guide: 
            </h4>
            <br>
            <div style="text-align: center;">
                <iframe class="installationyoutube" src="https://www.youtube.com/embed/2EpnMwpINpE">
                </iframe>    
            </div>
        </div>
    </div>
    <div class="col">
        <div id="product-div-pc">
            <h1>{{ page.product_name }}</h1>
            <br>
            <h4 style="font-weight:300">{{ page.price }}</h4>
    
            <div>
                <h4>Select your car model:</h4>
                <div class="row">
                    <div class="col-xl-6 col-lg-12" style="max-width:350px;">
                        <select aria-label="Select your car model" class="form-select mb-4 mt-2 car-select">
                        </select>
                    </div>
                    <div class="col-xl-6 col-lg-12 buyButtonDiv" style="text-align: left;">
                        <button class="btn btn-tertiary buy-btn">Buy</button>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <p>{{ page.comments }}</p>
        <div>
            <br><br>
            <h4>What's in the box?</h4>
            <div class="container">
            <div class="row" id="includes"></div>
            </div>
            <br><br>
        </div>
        <div id="installation-div-mobile">
            <h4>
                Installation:
            </h4>
            <h4 style="font-size:1rem; font-weight:300">
                Perform 15 minutes self-installation following our video guide: 
            </h4>
            <br>
            <div style="text-align: center;">
                <iframe class="installationyoutube" src="https://www.youtube.com/embed/2EpnMwpINpE">
                </iframe>    
            </div>
        </div>
    </div>
</div>

<script>
    const carSelectList = document.getElementsByClassName("car-select");
    const buyButton = document.getElementsByClassName("buy-btn");
    
    async function load() {
        const selectedCar = new URLSearchParams(window.location.search).get("car");
        const remote = "https://raw.githubusercontent.com/kommuai/bukapilot/snapshot/selfdrive/car/supported_vehicle.json";
        const resp = await (await fetch(remote)).json();
        
        
        let list = [];
        switch ("{{ page.key }}") {
        case "standard":
            list = resp.standard;
            break;
        case "semi_acc":
            list = resp.semi_acc;
            break;
        };

        list.forEach((vehicle) => {
            const option1 = document.createElement("option");
            const option2 = document.createElement("option");

            option1.value = `${vehicle.brand} ${vehicle.model} ${vehicle.year} ${vehicle.variant}`;
            option1.innerText = option1.value;
            option1.selected = (selectedCar === option1.value);

            option2.value = `${vehicle.brand} ${vehicle.model} ${vehicle.year} ${vehicle.variant}`;
            option2.innerText = option2.value;
            option2.selected = (selectedCar === option2.value);

            carSelectList[0].appendChild(option1);
            carSelectList[1].appendChild(option2);
        });
    }

    window.onload = load;

    buyButton[0].onclick = () => {
        const params = new URLSearchParams();
        params.append("car", carSelectList[0].value);
        params.append("price", "{{ page.product_id }}");
        params.append("referral_id", Rewardful.referral);
        const url = "https://api.kommu.ai/payment/begin?" + params.toString();
        window.open(url, "_blank");
    };

    buyButton[1].onclick = () => {
        const params = new URLSearchParams();
        params.append("car", carSelectList[1].value);
        params.append("price", "{{ page.product_id }}");
        params.append("referral_id", Rewardful.referral);
        const url = "https://api.kommu.ai/payment/begin?" + params.toString();
        window.open(url, "_blank");
    };

    const includes = [            
            {% for incl in page.includes %}
            {
                desc:"{{ incl }}",
            },
            {% endfor %} ];

    const includesDiv = document.getElementById("includes");
    const col1 = document.createElement("div");
    for (const include of includes) {  
        
        col1.classList.add("col-md-6");
        col1.classList.add("col-sm-12");

        if  (includes.indexOf(include) <= 3 ) {
            const feature1 = document.createElement("div");
            const bullets1 = document.createElement("ul");
            feature1.classList.add("row")

            bullets1.textContent = include.desc ;
            bullets1.style = "list-style-type:disc";
            col1.appendChild(feature1)
            feature1.appendChild(bullets1);
          
        }
        
    }
    includesDiv.appendChild(col1);

    const col2 = document.createElement("div");
    for (const include of includes) {
        
        col2.classList.add("col-sm-6");
        col2.classList.add("col-xs-12");
        if  (includes.indexOf(include) > 3 ) {
            const feature2 = document.createElement("div");
            const bullets2 = document.createElement("ul");
            feature2.classList.add("row")

            bullets2.textContent = include.desc ;
            bullets2.style = "list-style-type:disc";
            col2.appendChild(feature2)
            feature2.appendChild(bullets2);
           
        }
    }
    includesDiv.appendChild(col2);

var mainImg = document.getElementById('MainImage');
var smallImg = document.getElementsByClassName('small-img');

// Disgusting codes. will refactor if i feel like it.
smallImg[0].onclick = function(){
    mainImg.src = smallImg[0].src;
    
    smallImg[0].style.border = "5px solid #33B9FF";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";

}

smallImg[1].onclick = function(){
    mainImg.src = smallImg[1].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "5px solid #33B9FF";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[2].onclick = function(){
    mainImg.src = smallImg[2].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "5px solid #33B9FF";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[3].onclick = function(){
    mainImg.src = smallImg[3].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "5px solid #33B9FF";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[4].onclick = function(){
    mainImg.src = smallImg[4].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "5px solid #33B9FF";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[5].onclick = function(){
    mainImg.src = smallImg[5].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "5px solid #33B9FF";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}

smallImg[6].onclick = function(){
    mainImg.src = smallImg[6].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "5px solid #33B9FF";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}

smallImg[7].onclick = function(){
    mainImg.src = smallImg[7].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "5px solid #33B9FF";
    smallImg[8].style.border = "0px";
}

smallImg[8].onclick = function(){
    mainImg.src = smallImg[8].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "5px solid #33B9FF";
}


</script>
