---
layout: default
stylesheet: products
---
<!-- <div>
    <a class="btn ms-auto" href= "{{ "" | relative_url }}/products/" style="font-weight: bold;font-size:20px">
        <  Back
    </a>
</div> -->
<div class="row">
    <link href="{{ "/css/products-page.css" | relative_url }}" rel="stylesheet">
    <div class="col-lg-6 col-md-12 col-12 mb-4">
        <img src="{{ "" | relative_url }}/img/products/{{page.key}}/1.png" class = "img-fluid w-100" id= "MainImage"  style="margin-bottom: 10px;">
        <div class="small-img-group" style="margin-bottom: 10px;">
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/1.png" width="100%" class="small-img" style="border-style: solid; border-color: #33B9FF; border-width: 5px;" >
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/2.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/3.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/4.png" width="100%" class="small-img">
            </div>
        </div>
        <div class="small-img-group" >
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/5.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/6.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/7.png" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="{{ "" | relative_url }}/img/products/{{page.key}}/8.png" width="100%" class="small-img">
            </div>
        </div>
        <br>
            <h4>
                Installation:
            </h4>
            <h4 style="font-size:1rem; font-weight:300">
                Perform 15 minutes self-installation following our video guide: 
            </h4>
            <br>
            <div style="text-align: center;">
                <iframe id="installationyoutube" src="https://www.youtube.com/embed/ChIh7TIrvqg">
                </iframe>    
            </div>
           <div>

        </div>
    </div>
    <div class="col">
        <h1>{{ page.product_name }}</h1>
        <br>
        <h4 style="font-weight:300">{{ page.price }}</h4>

        <div>
            <h3>Select your car model:</h3>
            <div class="row">
                <div class="col-xl-6 col-lg-12" style="max-width:350px;">
                    <select aria-label="Select your car model" class="form-select mb-4 mt-2" id="car-select">
                    </select>
                </div>
                <div class="col-xl-6 col-lg-12" id="buyButtonDiv" style="text-align: left;">
                    <button class="btn btn-tertiary" id="buy-btn">Buy Now</button>
                </div>
            </div>
        </div>
        <br>
        <p>{{ page.comments }}</p>
        <div>
            <br><br>
            <h4>What's in the Box?</h4>
            <div class="container">
            <div class="row" id="includes"></div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<script>
    const carSelectList = document.getElementById("car-select");
    const buyButton = document.getElementById("buy-btn");

    async function load() {
        const selectedCar = new URLSearchParams(window.location.search).get("car");
        const remote = "https://raw.githubusercontent.com/kommuai/bukapilot/snapshot/selfdrive/car/supported_vehicle.json";
        const resp = await (await fetch(remote)).json();

        let list = [];
        switch ("{{ page.key }}") {
        case "standard":
            list = resp.standard;
            break;
        case "semi_acc":
            list = resp.semi_acc;
            break;
        };

        list.forEach((vehicle) => {
            const option = document.createElement("option");
            option.value = `${vehicle.brand} ${vehicle.model} ${vehicle.year} ${vehicle.variant}`;
            option.innerText = option.value;
            option.selected = (selectedCar === option.value);
            carSelectList.appendChild(option);
        });
    }

    window.onload = load;

    buyButton.onclick = () => {
        // const params = new URLSearchParams();
        // params.append("text", `Hey, I am interested in the {{ page.title }} for ${carSelectList.value}`);

        // const url = "https://wa.me/60149676780?" + params.toString();

        const url = "{{page.purchase_link}}";
        window.open(url, "_blank");
    };

    const includes = [            
            {% for incl in page.includes %}
            {
                desc:"{{ incl }}",
            },
            {% endfor %} ];

    const includesDiv = document.getElementById("includes");
    const col1 = document.createElement("div");
    for (const include of includes) {  
        
        col1.classList.add("col-md-6");
        col1.classList.add("col-sm-12");

        console.log(include)
        if  (includes.indexOf(include) <= 3 ) {
            const feature1 = document.createElement("div");
            const bullets1 = document.createElement("ul");
            feature1.classList.add("row")

            bullets1.textContent = include.desc ;
            bullets1.style = "list-style-type:disc";
            col1.appendChild(feature1)
            feature1.appendChild(bullets1);
          
        }
        
    }
    includesDiv.appendChild(col1);

    const col2 = document.createElement("div");
    for (const include of includes) {
        
        col2.classList.add("col-sm-6");
        col2.classList.add("col-xs-12");
        if  (includes.indexOf(include) > 3 ) {
            const feature2 = document.createElement("div");
            const bullets2 = document.createElement("ul");
            feature2.classList.add("row")

            bullets2.textContent = include.desc ;
            bullets2.style = "list-style-type:disc";
            col2.appendChild(feature2)
            feature2.appendChild(bullets2);
           
        }
    }
    includesDiv.appendChild(col2);

var mainImg = document.getElementById('MainImage');
var smallImg = document.getElementsByClassName('small-img');

// Disgusting codes. will refactor if i feel like it.
smallImg[0].onclick = function(){
    mainImg.src = smallImg[0].src;
    
    smallImg[0].style.border = "5px solid #33B9FF";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";

}

smallImg[1].onclick = function(){
    mainImg.src = smallImg[1].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "5px solid #33B9FF";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[2].onclick = function(){
    mainImg.src = smallImg[2].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "5px solid #33B9FF";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[3].onclick = function(){
    mainImg.src = smallImg[3].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "5px solid #33B9FF";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[4].onclick = function(){
    mainImg.src = smallImg[4].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "5px solid #33B9FF";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}
smallImg[5].onclick = function(){
    mainImg.src = smallImg[5].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "5px solid #33B9FF";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}

smallImg[6].onclick = function(){
    mainImg.src = smallImg[6].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "5px solid #33B9FF";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "0px";
}

smallImg[7].onclick = function(){
    mainImg.src = smallImg[7].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "5px solid #33B9FF";
    smallImg[8].style.border = "0px";
}

smallImg[8].onclick = function(){
    mainImg.src = smallImg[8].src;

    smallImg[0].style.border = "0px";
    smallImg[1].style.border = "0px";
    smallImg[2].style.border = "0px";
    smallImg[3].style.border = "0px";
    smallImg[4].style.border = "0px";
    smallImg[5].style.border = "0px";
    smallImg[6].style.border = "0px";
    smallImg[7].style.border = "0px";
    smallImg[8].style.border = "5px solid #33B9FF";
}


</script>
